# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# 虚拟环境
venv/
env/
.venv/

# 数据库/临时文件
*.db
*.log
*.tmp

# 系统文件
.DS_Store
Thumbs.db

# 打包产物
dist/
build/
*.exe

# Built-in model weights
/models/*.pt
/models/*.pth

models/*
!models/.gitkeep
demo_output/